.imgList {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgContainer {
  position: relative;
}

.image {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.annotationList {
  position: absolute;
}
